name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: wpilib/roborio-cross-ubuntu:2021-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Publish
        run: |
          ./gradlew publish
        if: github.repository_owner != 'wpilibsuite' || !startsWith(github.ref, 'refs/tags/v')

      - name: Publish (Main)
        run: |
          ./gradlew publish
          ./gradlew publish -PreleaseRepoPublish
        env:
          RUN_AZURE_ARTIFACTORY_RELEASE: TRUE
          ARTIFACTORY_PUBLISH_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          ARTIFACTORY_PUBLISH_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        if: github.repository_owner == 'wpilibsuite' && startsWith(github.ref, 'refs/tags/v')

      - uses: actions/upload-artifact@v2
        with:
          name: Maven
          path: ~/releases
